@import url(https://fonts.googleapis.com/css?family=Raleway);
.main-title {
  color: #2d2d2d;
  text-align: center;
  text-transform: capitalize;
  padding: 0.7em 0; }

.content {
  position: relative;
  width: 60%;
  min-width: 250px;
  overflow: hidden;
  padding: 0 5px; }
  .content .content-title {
    color: #ffffff;
    text-align: center;
    margin-bottom: 10px; }

.content .content-overlay {
  background: rgba(53, 28, 28, 0.7);
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s; }

.content:hover .content-overlay {
  opacity: 1; }

.content-image {
  width: 100%;
  object-fit: cover;
  max-height: 100%;
  min-height: 100%; }

.content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s; }

.content:hover .content-details {
  top: 50%;
  left: 50%;
  opacity: 1; }

.content-details h5 {
  color: #fff;
  font-weight: 500;
  margin-bottom: 0.5em;
  text-transform: uppercase; }

.content-details p {
  color: #fff;
  font-size: 0.8em; }

.fadeIn-bottom {
  top: 80%; }
