.kontainer-grid {
  display: grid;
  grid-template-columns: minmax(1fr, 1fr);
  grid-column-gap: 15px;
}

.kontainer-item {
  display: grid;
  background-color: #4d4d4d33;
  grid-template-columns: minmax(150px, 1fr) minmax(150px, 1fr);
  border: 0px solid red;
  margin: 20px 20px;
  padding: 20px 20px;
}

.kontainer-item__image {
  text-align: center;
  border: 0px solid yellow;
}
