.wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 2fr));
  grid-column-gap: 5px;
  grid-row-gap: 10px; }

.wrapper .title {
  color: #1a1a1a;
  text-align: center;
  margin-bottom: 10px; }
