.search {
  border: 0px;
  background-color: linear-gradient(rgba(0, 0, 0, 0.8), #161616);
  color: #e7dfdd;
  padding: 5px 0px; }
  .search:focus {
    border-bottom: 1px solid white; }

img.search-icon {
  width: 30px;
  height: 30px;
  margin-bottom: '5px'; }
