@import './vars.scss';

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: white;
}

body {
  background: $background-color-primary;
  color: white;
}
.anchor--unstyle {
  text-decoration: none;
  border-bottom: 0px;
  &:hover {
    color: $color-hover;
    border-bottom: 0px solid;
    background-color: $color-primary;
  }
}
