*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: white; }

body {
  background: linear-gradient(rgba(0, 0, 0, 0.8), #161616);
  color: white; }

.anchor--unstyle {
  text-decoration: none;
  border-bottom: 0px; }
  .anchor--unstyle:hover {
    color: white;
    border-bottom: 0px solid;
    background-color: #0e0b16; }
