$background-color-primary: linear-gradient(rgba(0, 0, 0, 0.8), rgb(22, 22, 22));
$background-color-secondary: #343a40;

$color-primary: #0e0b16;
$color-secondary: #a239ca;
$color-tertiary: #4717f6;
$color-quartery: #e7dfdd;

$color-hover: white;
